<div class="">
    <img src="../../../assets/sapams.jpg"  width="100%" height="500">
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="wpb_wrapper mt-5">
                <h2>About Us</h2>
                <h6 style="text-align: justify;">
                <div class="cart">
                    SAPDIS Technologies Pvt Ltd is a dynamic and innovative company dedicated to providing top-notch IT recruitment, SAP training, and SAP support services and Plug and Play KPI. With a commitment to excellence, we aim to bridge the gap between talent and technology, helping businesses thrive in the digital era.<br><br>
                    <p> At SAPDIS Technologies Pvt Ltd, our mission is to empower organizations with the right IT talent, equip individuals with SAP skills, and provide unparalleled SAP support to ensure seamless operations. </p>
                </div>
                </h6>
                 <h6 style="text-align: justify;">
                    We enable our customers to solve their complex business challenges through innovative, value-adding, and proven deployments of SAP and complementary solutions. Unlike most onshore/offshore providers, our business is based on client relationships that are driven by value and shared goals.
                </h6>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <img src="../../../assets/implemntimg.png"  width="100%" height="200">
                <h3>IT Recruitment:</h3><h5>Finding the Perfect Match</h5>
                <p>We specialize in IT recruitment services, helping businesses identify and hire the best IT professionals. Our experienced team utilizes cutting-edge recruitment strategies and a vast network to connect you with candidates who not only meet your technical requirements but also align with your company culture.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="../../../assets/traning.jpeg"  width="100%" height="200">

                <h3>SAP Training:
                    Empowering You with SAP Expertise</h3>
                    <p>We offer comprehensive SAP training programs for both corporate clients and individual learners. Our SAP trainers are industry experts who provide hands-on training in various SAP modules, ensuring that you acquire the skills needed to excel in your career or optimize your organization's SAP processes.
                    </p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="../../../assets/support.jpeg"  width="100%" height="200">
                <h3>SAP Support:Your SAP Lifeline </h3>
                <p>SAPDIS Technologies Pvt Ltd provides dedicated SAP support services to ensure your SAP systems run smoothly. Our team of SAP experts is available around the clock to address your technical issues, perform system maintenance, and optimize your SAP environment for peak performance.
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="../../../assets/ply and kpi.jpeg"  width="100%" height="200">
                <h3>Plug and play KPI</h3>
            </div>
        </div>
    </div>
</div>

