<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>About Sapdis</h4>
        <ul>
          <li><a>SAPDIS Technologies Pvt Ltd is a dynamic and innovative company dedicated to providing top-notch IT recruitment, SAP training, and SAP support services and Plug and Play KPI. With a commitment to excellence, we aim to bridge the gap between talent and technology, helping businesses thrive in the digital era.</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Have a Question?</h4>
        <ul>
          <li><a ><p>Monday - Friday: 09:00 - 18:30 </p></a></li>
          <li><a > <p>Phone:7499842002</p></a></li>
          <li><a ><p>Address:Gulmohar parkview, bypass, mandana acolade road,<br> tukaram nagar kharadi pune maharastra 411014.</p></a></li>
          <li><a href=""><p>Email:sapdis2023@gmail.com</p></a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>Quick Link</h4>
        <ul>
          <li><a href="">about us</a></li>
          <li><a href="">our service</a></li>
          <li><a href="">privacy policy</a></li>
          <li><a href="">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follw us</h4>
        <div class="social-links">
          <a href=""><i class=" fab fa-facebook"></i></a>
          <a href=""><i class=" fab fa-twitter"></i></a>
          <a href=""><i class=" fab fa-linkedin"></i></a>
          <a href=""><i class=" fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>