<div class="pcarosal">
    <ngb-carousel class="pcarosal">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" >
                <img  id="img1" [src]="images[0]" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h1>SAPDIS Technologies</h1>
                <h3>IT Recruitment and services</h3>
                
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img id="img2" [src]="images[1]" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h1>SAPDIS Technologies</h1>
                <h3>Plug and play KPI</h3>

            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img id="img3" [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h1>Third slide label</h1>
            </div>
        </ng-template>
    </ngb-carousel>
</div>


<div class="imagediv">
    <img id="img1" src="../../../assets/1.jpg">
</div>

<div class="div">
    <div class="row">
        <div class="col-6">
            <div class="card"><br>
            <h2>WHO WE ARE</h2>
            <p class="">
            <span>SAPDIS Technologies Pvt Ltd is a dynamic and innovative company dedicated to providing top-notch IT recruitment,
                 SAP training, and SAP support services. With a commitment to excellence, 
                 we aim to bridge the gap between talent and technology, helping businesses thrive in the digital era.
            </span>
            
            </p>
        </div>
    </div>
        <div class="col-6">
            <div class="card">
    <img src="../../../assets/2.jpg">
        </div>
    </div>
    </div>
</div>
